
custom_attention/.ipynb_checkpoints/test_transform-jvsc-c5b95bb1-e9ea-4610-b9ca-b7f522c09a9f-checkpoint.ipynb
custom_attention/.ipynb_checkpoints/test_transform-jvsc-ff098063-de9e-4e33-bd5c-f5797053ab56-checkpoint.ipynb
custom_attention/.ipynb_checkpoints/test_transform-jvsc-f7961bb7-ff5b-45b6-9c7d-69ae0106f53e-checkpoint.ipynb
custom_attention/.ipynb_checkpoints/test_transform-jvsc-e5b05dbc-dc7a-4e7d-bcb5-706c86f69398-checkpoint.ipynb
custom_attention/.ipynb_checkpoints/test_transform-jvsc-c6e10537-3a88-4484-8a0b-d8736cc35d13-checkpoint.ipynb
custom_attention/.ipynb_checkpoints/test_transform-jvsc-c3a1dff8-c458-48a6-97fc-a3cbd6a84ad2-checkpoint.ipynb
custom_attention/.ipynb_checkpoints/test_transform-jvsc-b8210da2-0eff-4a69-9f65-d0076052a6fe-checkpoint.ipynb
custom_attention/.ipynb_checkpoints/test_transform-jvsc-afd82b3e-46e3-457d-9298-d82450970101-checkpoint.ipynb
custom_attention/.ipynb_checkpoints/test_transform-jvsc-af8113cc-5682-4b96-97d1-7a8a00e1ec28-checkpoint.ipynb
custom_attention/.ipynb_checkpoints/test_transform-jvsc-9d9037dd-bf78-467b-bce4-22e321e0a87d-checkpoint.ipynb
custom_attention/.ipynb_checkpoints/test_transform-jvsc-97be2b48-2b41-41b7-8c47-341298a7f6f4-checkpoint.ipynb
custom_attention/.ipynb_checkpoints/test_transform-jvsc-9225f565-3f4a-4e3b-b014-2f913882610e-checkpoint.ipynb
custom_attention/.ipynb_checkpoints/test_transform-jvsc-757e39bf-7a9b-48a1-b845-b33632e4fd99-checkpoint.ipynb
custom_attention/.ipynb_checkpoints/test_transform-jvsc-52bbd1c7-fb04-41b6-83d7-b89256ed6bd4-checkpoint.ipynb
custom_attention/.ipynb_checkpoints/test_transform-jvsc-2c58024f-d3cd-41e9-b488-da0d36633a1c-checkpoint.ipynb
custom_attention/.ipynb_checkpoints/test_transform-jvsc-1d2f9fb6-7f55-48d8-97e1-0f97fde1dc04-checkpoint.ipynb
custom_attention/.ipynb_checkpoints/Data exploration-jvsc-73c37f16-5896-4d38-acba-5497bbae4ff2-checkpoint.ipynb
vessel_and_stenosis/.ipynb_checkpoints/Data exploration-jvsc-0da7639f-b85d-4314-8656-0f5901c5cbcc-checkpoint.ipynb
vessel_and_stenosis/.ipynb_checkpoints/Data exploration-jvsc-0ea7b809-3236-4c05-aadb-4487a37b0778-checkpoint.ipynb
vessel_and_stenosis/.ipynb_checkpoints/Data exploration-jvsc-1a256c8d-bb29-404c-8c6f-73164ed46a34-checkpoint.ipynb
vessel_and_stenosis/.ipynb_checkpoints/Data exploration-jvsc-21b5bd42-d1ff-426f-9f5a-9e63ea11a90f-checkpoint.ipynb
vessel_and_stenosis/.ipynb_checkpoints/Data exploration-jvsc-5c7e5ac2-0402-4112-a809-4f56f37c0b8e-checkpoint.ipynb
vessel_and_stenosis/.ipynb_checkpoints/Data exploration-jvsc-9864bd0f-a93d-42b4-a6db-8cb562d1f6f7-checkpoint.ipynb
vessel_and_stenosis/.ipynb_checkpoints/Data exploration-jvsc-adcfe77d-553f-4e20-a297-4d2efdc9c2f3-checkpoint.ipynb
vessel_and_stenosis/.ipynb_checkpoints/Data exploration-jvsc-e3ff0bbf-28eb-4442-8639-f93bc3b70ee8-checkpoint.ipynb
vessel_and_stenosis/.ipynb_checkpoints/Data exploration-jvsc-e80f6709-1651-46fc-a638-c98aae97adbb-checkpoint.ipynb
vessel_and_stenosis/.ipynb_checkpoints/hyper_parameter_tuning-jvsc-e20a219a-ec70-47cb-9934-51297ea0bb1a-checkpoint.ipynb
vessel_and_stenosis/.ipynb_checkpoints/patches_extraction-jvsc-2b3d97f7-0e8e-4a0f-b231-401756085207-checkpoint.ipynb
vessel_and_stenosis/.ipynb_checkpoints/patches_extraction-jvsc-44898d7f-a5aa-4e08-a993-3b79a926a04c-checkpoint.ipynb
vessel_and_stenosis/.ipynb_checkpoints/patches_extraction-jvsc-5fbc2190-1b9e-42c1-8db8-fac31fc84202-checkpoint.ipynb
vessel_and_stenosis/.ipynb_checkpoints/patches_extraction-jvsc-6b88899f-57c8-466b-8829-da48bc045925-checkpoint.ipynb
vessel_and_stenosis/.ipynb_checkpoints/patches_extraction-jvsc-a4448927-d453-4f4e-ac2c-729fc40ff599-checkpoint.ipynb
vessel_and_stenosis/.ipynb_checkpoints/patches_extraction-jvsc-c06d2b9f-24ea-4028-a478-6a340957d471-checkpoint.ipynb
vessel_and_stenosis/.ipynb_checkpoints/patches_extraction-jvsc-e8b8cdcc-118c-4c74-be2c-6288156ab361-checkpoint.ipynb
vessel_and_stenosis/.ipynb_checkpoints/test_model-jvsc-377d1119-c873-4636-b32d-c37038868480-checkpoint.ipynb
vessel_and_stenosis/.ipynb_checkpoints/test_model-jvsc-5fbbe1ab-f2cf-43fb-8e29-e065f46e1058-checkpoint.ipynb
vessel_and_stenosis/.ipynb_checkpoints/test_model-jvsc-a7184c29-c55c-497f-b9b0-805f47acc07c-checkpoint.ipynb
